.cabecalho__menu-hamburgue{

width: 24px;
height: 24px;
background-image: url(../IMG/Menu.svg);
display: inline-block;

}
.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conatiner{
    display: flex;
    align-items: center;
}